html
    head
        title Google Sheets Demo
        link(
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
            crossorigin="anonymous"
        )
        link(
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
            crossorigin="anonymous"
            )
        
    body
        script(
		        src='https://code.jquery.com/jquery-3.4.1.js'
		        integrity='sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU='
	    	    crossorigin='anonymous'
	    )
        script(
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        )
        script.
                $(document).ready(()=>{
                    
                    $('#fetchAPI').click(()=>{
                      console.log("RUNNINGGG AJAX!........")
                      $.ajax({
                          url:'/fetchAPI',
                          type:'GET',
                          contentType:'application/json',
                          dataType:'json',
                          success:(data)=>{
                              if(data){
                                  const jsonData=data.data
                                    $('#api-content').html(JSON.stringify(jsonData))
                                   $('#createSheet').prop("disabled", false);
                              }
                              console.log(data)

                          },
                          error:(error)=>{
                              console.log("ERROR")
                              console.log(error)
                          }
                      })
                    })

                    $("#createSheet").click((e)=>{
                        const sheetname=$("#sheet-name").val()
                        if(!sheetname){
                            $("#sheet-name").attr("placeholder","Field is required")
                        }


                        console.log("CREATING SHEET.......")
                        $.ajax({
                            url:'/createSheet',
                            type:'POST',
                            cache:false,
                            data:{sheetname,another:"william"},
                            success:(data)=>{
                              console.log(data)
                          },
                          error:(error)=>{
                              console.log("ERROR")
                              console.log(error)
                          },
                          
                            
                        })  
                    })


                })
                        

        nav(class='navbar navbar-light bg-dark d-flex justify-content-center')
            a(class='navbar-brand text-light' href='#') Google Sheets API

        
        
        div(class='container p-2 mt-5 d-flex justify-content-center bg-primary')
            div(class='row bg-dark' style='width:100%;height:30rem;')
                div(class="col bg-success")
                    h2(class="text-center mt-2 text-light") FETCH API
                    label(for="api-url" class="text-light") API URL
                    input(id='api-url' type='text' class='form-control' placeholder='http://dummy.restapiexample.com/api/v1/employees' disabled)
                    textarea(class="mt-3" id="api-content" cols="30", rows="10" disabled style="width:100%;border-radius:10px")
                    button(id="fetchAPI" class="d-inline  btn btn-primary p-1 font-weight-bold text-light" style="border-radius:10px;cursor: pointer;margin:10px 35%") FETCH API DATA

                div(class='col bg-dark')
                    h5(class="text-light text-center") CREATING SHEET WILL FILL SHEET WITH API DATA
                    button(id="createSheet" style="border-radius:10px;border:none" class="p-2 btn btn-success mt-5" ) Create Sheet
                         i.fa.fa-plus(aria-hidden='true' class="pl-2")

                    div(class="form-group" class="d-flex flex-column" style="opacity:1;padding:10px" id="sheet-details")
                        label(for="sheet-name" class="font-weight-bold mt-2 text-light" required) NAME OF SHEET
                        input(type="text" id="sheet-name"  style="outline:none;border-radius:10px;border:none" class="p-1")

                    div(class="form-group" class="d-flex flex-column" style="opacity:0;padding:10px" id="sheet-details")
                        label(for="sheet-url" class="font-weight-bold mt-2 text-light") SHEET ID
                        input(type="text" id="sheet-url"  style="outline:none;border-radius:10px;border:none" class="p-1")
                    
                    div(class="d-flex justify-content-center align-items-center flex-column" style="opacity:0")
                        h5(class="text-success text-center mt-5")  SHEET IS READY TO DOWNLOAD
                        button(id="createSheet" style="border-radius:10px;border:none;" class="p-2 btn btn-success " ) DOWNLOAD SHEET
                            i.fa.fa-download(aria-hidden='true' class="pl-2")

                    
                    
                
            //- div(class='card' style='width: 30rem;')
            //-     div(class='card-header')
            //-         div(class='row')
            //-             div(class='col-4 pt-2')
            //-                 strong My List
            //-             div(class='col')
            //-                 div(class='form-row align-items-center')
            //-                     div(class='col')
            //-                         input(id='new-item-field' type='text' class='form-control' placeholder='Item Name')
            //-                     button(id='new-item-button' type='button' class='btn btn-outline-secondary') Add Item
            //-     ul(class='list-group list-group-flush' id='main-list')
            //-         li(class='list-group-item') Apples
            //-         li(class='list-group-item') Bread
            //-         li(class='list-group-item') Spaghetti
            //-         li(class='list-group-item') Eggs